{% include("_includes/head.html")  %}

<body>
	<div class="container">
		<div class="left-col nano">
			<div class=" nano-content">
			<div class="intrude-less">
			<header id="header" class="inner">{% include("_includes/header.html")  %}</header>				
			</div>
			</div>
		</div>	
		<div class="mid-col">
			{% if page.banner == true %}
				{% include("_includes/banner.html")  %}
			{% endif %}
			<div class="mid-col-container">
				<div id="content" class="inner">
				{% block content %}{% endblock %}
				</div>
			</div>
			<footer id="footer" class="inner">{% include("_includes/footer.html")  %}</footer>
		</div>
	</div>
	{% include("_includes/after_footer.html")  %}
</body>

</html>
