<div class="profilepic">
	{% if config.email_md5 %}
	<img src="http://www.gravatar.com/avatar/{{ config.email_md5 }}?s=160" alt="Profile Picture" style="width: 160px;" />
	{% else %}
	<script src="{{ theme_url }}/javascripts/md5.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.profilepic').append("<img src='http://www.gravatar.com/avatar/" + MD5("{{ config.email }}") + "?s=160' alt='Profile Picture' style='width: 160px;' />");
		});
	</script>
	{% endif %}
</div>

{% include("_includes/custom/header.html")  %}
{% if config.description %}
<section class="aboutme">
<h2>About Me</h2>
  <p>
    {{ config.description }}
  </p>
</section>
{% endif %}
<nav id="main-nav">{% include("_includes/custom/navigation.html")  %}</nav>
<nav id="sub-nav">
	<div class="social">
		{% if config.email %}
			<a class="email" href="mailto:{{ config.email }}" title="Email">Email</a>
		{% endif %}
		{% if config.facebook_user %}
			<a class="facebook" href="http://www.facebook.com/{{ config.facebook_user }}" title="Facebook">Facebook</a>
		{% endif %}
		{% if config.googleplus_user and config.googleplus_hidden == false %}
			<a class="google" href="https://plus.google.com/{{ config.googleplus_user }}" rel="author" title="Google+">Google+</a>
		{% endif %}
		{% if config.twitter_user %}
			<a class="twitter" href="http://twitter.com/{{ config.twitter_user }}" title="Twitter">Twitter</a>
		{% endif %}
		{% if config.github_user %}
			<a class="github" href="https://github.com/{{ config.github_user }}" title="GitHub">GitHub</a>
		{% endif %}
		{% if config.coderwall_user %}
			<a class="coderwall" href="https://coderwall.com/{{ config.coderwall_user }}" title="Coderwall">Coderwall</a>
		{% endif %}
		{% if config.stackoverflow_user and config.stackoverflow_user_id %}
		  <a class="stackoverflow" href="http://stackoverflow.com/users/{{config.stackoverflow_user_id}}/{{config.stackoverflow_user}}" title="StackOverflow"></a>
		{% endif %}
		{% if config.linkedin_user %}
			<a class="linkedin" href="http://www.linkedin.com/in/{{ config.linkedin_user }}" title="LinkedIn">LinkedIn</a>
		{% endif %}
		{% if config.pinterest_user %}
			<a class="pinterest" href="https://pinterest.com/{{ config.pinterest_user }}" title="Pinterest">Pinterest</a>
		{% endif %}
		{% if config.delicious_user %}
			<a class="delicious" href="http://delicious.com/{{ config.delicious_user }}" title="Delicious">Delicious</a>
		{% endif %}
		{% if config.pinboard_user %}
			<a class="pinboard" href="https://pinboard.in/u:{{ config.pinboard_user }}" title="Pinboard">Pinboard</a>
		{% endif %}
		{% if config.douban_user %}
			<a class="douban" href="https://www.douban.com/people/{{ config.douban_user }}" title="Douban">Douban</a>
		{% endif %}
		{% if config.quora_user %}
			<a class="quora" href="https://quora.com/{{ config.quora_user }}" title="Quora">Quora</a>
		{% endif %}
		{% if config.instagram_user %}
			<a class="instagram" href="https://instagram.com/{{ config.instagram_user }}" title="Instagram">Instagram</a>
		{% endif %}
    	{% if config.behance_user %}
			<a class="behance" href="https://www.behance.net/{{ config.behance_user }}" title="Behance">Behance</a>
		{% endif %}
    	{% if config.subscribe_rss %}
			<a class="rss" href="{{ config.subscribe_rss }}" title="RSS">RSS</a>
		{% endif %}
	</div>
</nav>

