Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}

<link href="/javascripts/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="/javascripts/nanoscroller.js"></script>
<script type="text/javascript">
    document.body.onload = function() {
        var preTags = document.querySelectorAll("pre");
        for (var i = 0; i < preTags.length; i++) {
            var tag = preTags[i];
            tag.className = tag.className + " prettyprint";
        }
        prettyPrint();
        $(".nano").nanoScroller();
    };
</script>