#header ul {
  list-style-type: none;
}
@media screen and (max-width: 830px) {
  .container .left-col #header #sub-nav .social {
      margin-bottom: 30px;
      margin-top: -15px;
  }
}
@media screen and (min-width: 830px) {
/** initial setup **/
.nano {
position : relative;
width    : 100%;
height   : 100%;
overflow : hidden;
}
.nano > .nano-content {
position      : absolute;
overflow      : scroll;
overflow-x    : hidden;
top           : 0;
right         : 0;
bottom        : 0;
left          : 0;
}
.nano > .nano-content:focus {
outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
display: block;
}
.nano > .nano-pane {
background : rgba(0,0,0,.25);
position   : absolute;
width      : 10px;
right      : 0;
top        : 0;
bottom     : 0;
visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
opacity    : .01;
-webkit-transition    : .2s;
-moz-transition       : .2s;
-o-transition         : .2s;
transition            : .2s;
-moz-border-radius    : 5px;
-webkit-border-radius : 5px;
border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
background: #444;
background: rgba(0,0,0,.5);
position              : relative;
margin                : 0 1px;
-moz-border-radius    : 3px;
-webkit-border-radius : 3px;
border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
visibility : visible\9; /* Target only IE7 and IE8 with this hack */
opacity    : 0.99;
}
}
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }

figure.highlight line.lit {
  border-right: 1px solid #ccc;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  padding-right: 15px;
  text-align: right;
}

.container .mid-col .mid-col-container #content article.post table .gutter
{
  border-right: 1px solid #ccc;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  padding-right: 15px;
  text-align: right;
}

.prettyprint.prettyprinted
{
  border: none;
}

.container .mid-col .mid-col-container #content article.post figure.highlight table {
  margin-top: 0px;
}