{% extends "_layouts/default.twig" %}
{% block content %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">{% include("_includes/article.html")  %}</article>
{% if meta.sharing == true %}
	{% include("_includes/post/sharing.html")  %}
{% endif %}
{% if config.disqus_short_name and meta.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include("_includes/disqus.html")  %}</div>
</section>
{% endif %}
{% endblock %}