Copyright &copy; {{ config.time }}
{% if config.author %}
    {{ config.author }}
{% else %}
    {{ config.title }}
{% endif %}

<link href="{{ theme_url }}/javascripts/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{ theme_url }}/javascripts/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="{{ theme_url }}/javascripts/nanoscroller.js"></script>
<script type="text/javascript">
	function addCodeLineNumbers() {
	  if (navigator.appName === 'Microsoft Internet Explorer') { return; }
	  $('pre code').each(function(index, code) {
		var tableStart = '<figure class="code"><div class="highlight"><table><tbody><tr><td class="gutter">',
			lineNumbers = '<pre class="line-numbers">',
			tableMiddle = '</pre></td><td class="code">',
			tableEnd = '</td></tr></tbody></table></div></figure>',
			count = $(code).html().split("\n").length;
		for (var i=1;i<=count; i++) {
		  lineNumbers += '<span class="line-number">'+i+'</span>\n';
		}
		var table = tableStart + lineNumbers + tableMiddle + '<pre>'+$(code).parent().html()+'</pre>' + tableEnd;
		$(code).parent().replaceWith(table);
	  });
	}

    document.body.onload = function() {
		addCodeLineNumbers();
        var preTags = document.querySelectorAll("pre");
        for (var i = 0; i < preTags.length; i++) {
            var tag = preTags[i];
            tag.className = tag.className + " prettyprint";
        }
        prettyPrint();
        $(".nano").nanoScroller();
		
		

    };
	
</script>